@model List<Producto>
@Html.AntiForgeryToken()
@{
    var id = Context.Session.GetInt32("idAdministrador");
    if (id == null)
    {
        Context.Response.Redirect("/Home/LogIn");
    }
}
<!DOCTYPE html>
<html lang="es">
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="~/css/administrador.css"/>
    </head>
<body>
    <header>
        <!-- TopBar -->
        <partial name="_TopBarAdministrador"/>
        <!-- SideBar-->
        <partial name="_SideBar"/>
    </header>
    <div class="main-content">
        <div class="card">
            <form asp-action="BuscarProductos" method="get" class="form-inline mb-3">
                <input type="text" name="nombre" class="form-control mr-2" placeholder="Buscar por nombre..." />
                <select name="estado" class="form-control mr-2">
                    <option value="">Todos</option>
                    <option value="true">Activos</option>
                    <option value="false">Inactivos</option>
                </select>
                <button type="submit" class="btn btn-primary">Buscar</button>
            </form>
    

            <a href="@Url.Action("CrearProducto","Productos")"><i class="fa fa-plus"></i>Crear producto</a>
            <div class="productos-container">
                
                    <table class="table table-hover table-striped">
                        <thead class="thead-dark">
                            <tr>
                                <th>Imagen</th>
                                <th>Nombre</th>
                                <th>Precio</th>
                                <th>Stock</th>
                                <th>Estado</th>
                                <th>Categoria</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var producto in Model)
                            {
                                <tr>
                                    <td><img src="@Url.Content("~/css/images/productos/" + producto.ImagenUrl)" alt="@producto.Nombre" class="card-img-top" style="width: 60px;"/></td>
                                    <td>@producto.Nombre</td>
                                    <td>$@producto.Precio</td>
                                    <td>@producto.Stock</td>
                                    <td>
                                        @if (producto.Activo){
                                            <span class="badge badge-success">Activo</span>
                                        }
                                        else{
                                            <span class="badge badge-secondary">Inacrivo</span>
                                        }
                                    </td>
                                    <td>@producto.Categoria</td>
                                    <td class="acciones">
                                        <a asp-action="EditarProducto" asp-route-Id="@producto.Id" class="btn btn-outline-primary">
                                            <i class="bi bi-pencil"></i>
                                        </a>
                                        <button type="button" onclick="mostrarModal(@producto.Id)" class="btn-eliminar">
                                            <i class="bi bi-trash"></i>
                                        </button>
                                    </td> 
                                </tr>
                            }
                        </tbody>
                    </table>
            </div>
        </div>
    </div>
    <script src="/js/admin.js" asp-append-version="true"></script>
    <script src="/js/eliminarCache.js"></script>
</body>
</html>