@model Usuario
@{
    ViewData["Title"] = "LogIn";
}
<head>
    <meta charset="UTF-8">
    <title>LogIn | WhaleSports</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/auth.css" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
    <div class="login-container">
        <div class="login-image">
            <img src="~/css/Images/Banners/Banner_WS_Negro_Grande.png" alt="WhaleSports Banner" />
        </div>
        <div class="login-form">
            <div class="form-wrapper">
                <div class="logo">
                    <img src="/css/Images/Logo_WS.png" alt="WhaleSports Logo" />
                    <h1>WhaleSports</h1>
                </div>
                <div class="form-switch">
                    <a href="#" class="active" id="login-form-link">Iniciar sesión</a>
                    <a href="#" id="register-form-link">Registrarse</a>
                </div>
                <form asp-action="LogIn" method="post" role="form" id="login-form" style="display:block">
                    <div asp-validation-summary="ModelOnly" class="validation-summary"></div>
                    <div class="form-group">
                        <input autocomplete="username" type="email" id="correo" name="Correo" placeholder="Correo electrónico*" required />
                    </div>
                    <div class="form-group">
                        <input name="Contraseña" type="password" placeholder="Contraseña*" />
                    </div>
                    <div style="display: block; text-align: center; font-size: small; color: red; padding-bottom: 10px;">
                        @ViewBag.Vali
                        @ViewBag.Validacion
                    </div>
                    <button type="submit" name="Iniciar-Sesion">Iniciar sesión</button>
                    <div class="form-footer">
                        <a href="@Url.Action("Rescon","Home")">¿Olvidaste tu contraseña?</a>
                    </div>
                </form>
                <form asp-action="SignUp" method="post" id="register-form" role="form" style="display:none">
                    <div asp-validation-summary="ModelOnly" class="validation-summary"></div>
                    <div class="form-group">
                        <input asp-for="Nombre" class="form-control" type="text" pattern="[A-Za-z]{3,20}" name="Nombre" placeholder="Nombre*" required/>
                        <span asp-validation-for="Nombre" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="Apellidos" class="form-control" type="text" pattern="[A-Za-z \u00E0-\u00FC ]{4,20}" name="Apellidos" placeholder="Apellidos*" required />
                        <span asp-validation-for="Apellidos" class="text-danger"></span>                    
                    </div>
                    <div class="form-group">
                        <input asp-for="Telefono" class="form-control" type="text" pattern="[0-9]{10,10}" minlength="10" maxlength="10" name="Telefono" placeholder="Telefono*" required />
                        <span asp-validation-for="Telefono" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="Correo" class="form-control" type="email" name="Correo" placeholder="Correo electrónico*" required/>
                        <span asp-validation-for="Correo" class="text-danger" style="display: block; text-align: center; font-size: small; color: red"></span>
                    </div>
                    <div class="form-group">
                        <input type="password" name="Contraseña"
                         pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,15}"
                         title="Debe contener al menos 8 digitos incluyendo mayúsculas, minúsculas y un número" 
                         data-translation="login.password.placeholder"
                         placeholder="Contraseña*" required />
                    </div>
                <div class="form-group">
                <input asp-for="ConfirmContra" type="password" name="ConfirmContra" placeholder="Confirmar contraseña*" required />
                <span asp-validation-for="ConfirmContra" class="text-danger" style="display: block; text-align: center; font-size: small; color: red;"></span>

                </div>
                @if (ViewBag.Correcto != null)
                {
                    <div class="alert alert-danger" role="alert" style="margin-bottom: 15px;">
                        @ViewBag.Correcto
                    </div>
                }
                    <button type="submit" onclick="javascript:confirmar()">Registrarse</button>
            </form>
            @if(ViewBag.Correcto  == "Registrado correctamente.")
            {<script>
        Swal.fire({
            icon: 'success',
            title: '¡Listo!',
            text: 'Se ha registrado correctamente.Se le ha enviado un correo de confirmación.',
            confirmButtonText: 'Ok'
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = '@Url.Action("LogIn", "Home")';
            }
        });
    </script>
    }
            </div>
        </div>
    </div>
    <script>
        document.getElementById("login-form-link").addEventListener("click", function (e) {
            e.preventDefault();
            document.getElementById("login-form").style.display = "block";
            document.getElementById("register-form").style.display = "none";
            this.classList.add("active");
            document.getElementById("register-form-link").classList.remove("active");
        });
        document.getElementById("register-form-link").addEventListener("click", function (e) {
            e.preventDefault();
            document.getElementById("register-form").style.display = "block";
            document.getElementById("login-form").style.display = "none";
            this.classList.add("active");
            document.getElementById("login-form-link").classList.remove("active");
        });
    </script>

</body>