@model List<Administrador>
@{
    ViewData["Title"] = "Admadmin";
}
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Administrador | WhaleSports</title>
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="~/css/administrador.css" rel="stylesheet"  />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />   
</head>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">WhaleSports</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Administrador" asp-action="Admadmin">Administradores</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="WPController1" asp-action="TUsuario">Usuarios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="WPController1" asp-action="Alma">Almacen</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="card">
    <div class="card-header">
        Administradores WhaleSports
    </div>
    <div class="card-body">
        <a asp-action="CrearAdministrador" asp-controller="Administrador" class="btn btn-success"><i class="bi bi-plus-circle"></i> Crear Administrador</a>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Correo</th>
                    <th scope="col">Telefono</th>
                    <th scope="col">Contraseña</th>
                    <th scope="col">Rol de Administrador</th>
                    <th scope="col">Activo</th>
                    <th scope="col">Fecha de Registro</th> 
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.idAdministrador</td>
                        <td>@item.Nombre</td>
                        <td>@item.Apellido</td>
                        <td>@item.Correo</td>
                        <td>@item.Telefono</td>
                        <td>********</td>
                        <td>@item.RolNombre</td>
                        <td>@item.Activo</td>
                        <td>@item.FechaRegistro</td>
                        <td><form asp-action="Editar" asp-controller="Administrador" method="get"><button type="submit" class="btn-editar"><i class="bi bi-pencil"></i> Editar</button></form></td> 
                        <td><button type="button" onclick="mostrarModal(@item.idAdministrador)" class="btn-eliminar"><i class="bi bi-trash"></i> Eliminar</button></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<!-- Modal Eliminar Administrador -->
<div id="modalDelete" class="modal">
    <div class="modal-content">
        <h3>¿Estás seguro que deseas eliminar a este administrador?</h3>
        <br>
        <p>Esta acción eliminará permanentemente está cuenta y sus datos.</p>
        <div class="modal-buttons">
            <button onclick="mostrarModal2(); ocultarModal();" class="btn-confirmar">Sí, eliminar</button>
            <button onclick="ocultarModal()" class="btn-cancelar">Cancelar</button>
        </div>
    </div>
</div>
<!-- Modal Confirmacón de Eliminar Administrador-->
<div id="modalConfirmarEliminacion" class="modal">
    <form asp-action="Eliminar" asp-controller="Administrador" method="post">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirmar Eliminación</h5>
                <button type="button" class="btn-close"></button>
            </div>
            <div class="modal-body">
                <p>¿Estás seguro de que deseas eliminar este administrador? Esta acción no se puede deshacer.</p>
                <div class="mb-3">
                    <label class="form-label">Confirma contraseña:</label>
                    <input type="password" name="PasswordConfirm" class="form-control"/>
                </div>
            </div>
            <div class="modal-buttons">
                <button type="submit" class="btn-confirmar">Eliminar</button>
                <button type="button" onclick="ocultarModal2()" class="btn-cancelar">Cancelar</button>
            </div>
        </div>
    </form>
</div>
<!-- Elimina el caché de la pagina para no volverla a mostrar -->
<script>
    window.addEventListener('pageshow', function (event) {
        if (event.persisted) {
            window.location.reload();
        }
    });
</script>

<script>
    document.addEventListener("DOMContentLoaded", function(){
        window.mostrarModal = function(){
                    document.getElementById("modalDelete").style.display = "flex";
        }
        window.mostrarModal2 = function(){
        document.getElementById("modalConfirmarEliminacion").style.display = "flex";
        }
    })
    function ocultarModal() {
        document.getElementById("modalDelete").style.display = "none";
    }
    function ocultarModal2(){
        document.getElementById("modalConfirmarEliminacion").style.display = "none";
    }
    function previewFoto(event) {
        const reader = new FileReader();
        reader.onload = function () {
            document.getElementById('previewImage').src = reader.result;
        }
        reader.readAsDataURL(event.target.files[0]);
    }
</script>
